{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "experimentalOperatorPosition": "start",
  "experimentalTernaries": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
